* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.nav-banner {
    background-color: #F0FFF0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: 0 auto;
    padding: 25px 0px;
}

.logo-img {
    width: 160px;
    height: 50px;
}

.nav-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu ul li {
    list-style: none;
    font-weight: 400;
    margin: 0px 20px;
}

.sign-in-btn {
    background: #21B573;
    outline: none;
    border: none;
    padding: 12px 28px 12px 28px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 33px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: 0 auto;
    padding: 15px 0px;
}

.banner-left .tagline {
    color: #FD511A;
}

.banner-left .para {
    line-height: 25px;
    margin-top: 20px;
}

.banner-left h1 {
    font-weight: 700;
    line-height: 40px;
    margin-top: 20px;
}

.banner-left h1 span {
    color: #21B573;
}

.banner-btn {
    background: #21B573;
    outline: none;
    border: none;
    padding: 12px 28px 12px 28px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 33px;
    margin-top: 20px;
}

.banner-right-img {
    width: 550px;
    height: 350px;
}

.features {
    width: 77%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 30px;
}

.feature {
    background-color: #F5FFFA;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature:hover {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px 0px #0000001A;

}

.feature h2 {
    font-weight: 500;
}

.feature-p {
    font-weight: 400;
}

.feature-img {
    height: 85px;
    width: 65px;
    margin-bottom: 10px;
}

.all-courses {
    width: 77%;
    margin: 0 auto;
}

.main-courses-title {
    text-align: center;
    color: #413960;
    margin: 50px 0px;
}

.all-courses-link {
    outline: none;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    background: #21B573;
    margin: 30px auto;
    padding: 8px 24px;
}

.middle-btn {
    width: 100%;
    text-align: center;
}

.all-courses-link a {
    text-decoration: none;
    color: #FFFFFF;
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.course {
    box-shadow: 0px 10px 40px 0px #0000001A;
    padding: 15px 10px;
    border-radius: 18px;
}

.course-title {
    color: #413960;
    font-weight: 500;
    line-height: 36px;
}

.price {
    color: #585859;
    line-height: 24px;
    font-weight: 400;
}

.buy-btn {
    background: #21B573;
    outline: none;
    border: none;
    padding: 7px 19px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 33px;
    margin: 10px 0px;
}

.course-img {
    width: 100%;
}

.date-seat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-seat p {
    color: #585859;
    line-height: 24px;
    font-weight: 500;
}

.date-seat img {
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

.testimonial h1 {
    text-align: center;
    font-weight: 700;
    font-weight: 54px;
}

.testimonial-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 39px;
    width: 70%;
    margin: 0 auto;
}

.testimonial {
    width: 77%;
    margin: 60px auto;
}

.testimonial img {
    width: 120px;
    height: 120px;
}

.footer {
    background: #282531;
    color: #FFFFFF;
    padding: 40px 0px;
}

.main-footer {
    width: 77%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: #CDCDCD;
}

.logo-section-text {
    margin-top: 20px;
}

.ul-li {
    list-style: none;
    margin: 10px 0px;
}

.ul-li li {
    margin: 10px 0px;
}

.fw-7 {
    font-weight: 700;
}

.w-30 {
    width: 25%;
}

.w-37 {
    width: 45%;
}

.footer-text {
    color: #CDCDCD;
    text-align: center;
    margin-top: 50px;
}